*{
    margin: 0;
    padding: 0;
}
#planoDeFundo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 100vh;
    overflow: hidden; 
}
#game{
    overflow: hidden;
    position: absolute;
    display: block;
    flex-wrap: wrap;
    height: 500px;
    width: 1200px;
    border: 2px solid black;
    
}
#pontuacao{
    display: flex;
    justify-content:flex-end;
    margin: 10px;
    color:black;
}
#personagem{
    position: fixed;
    height: 50px;
    width: 20px;
    background-color: blueviolet;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 412px;
    margin-left: 10px;
    
}
@keyframes personagem{
    0%{bottom:200px;}

    100%{bottom: 200px;}
    
    
}
.animar{
     animation: personagem 200ms  ease-out;
}
#quadrado{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    height: 20px;
    width: 20px;
    background-color: blue;
    margin-top: 442px;
    animation: quadrado 2000ms infinite linear;
}
#quadrado2{
    position: fixed;
    display: none;
    flex-wrap: wrap;
    height: 20px;
    width: 20px;
    background-color: blue;
    margin-top: 442px;
    animation: quadrado2 3000ms infinite linear;
}


@keyframes quadrado{
    0%{left:1370px;}
    100%{left:-2px;}
}
@keyframes quadrado2{
    0%{left:1370px;}
    100%{left:-2px;}
}
.btn{   
    position: absolute;
    display: none;
    flex-wrap: wrap;
    padding: 15px;
    border-radius:10px ;
    border:none;
    box-shadow: 10px 10px 10px black;
    color: azure;
    background-color: blueviolet;
    margin-top: 350px;
    margin-left: 590px;  
}
#texto{
    
    text-align: center;
    text-shadow:5px 5px 5px black;
    font-size: 54pt;
    color: blueviolet;
    font-weight: 7%;
}
#texto2{
    position: fixed;
    text-shadow:5px 5px 5px black;
    font-size: 54pt;
    color: blueviolet;
    font-weight: 7%;
}
