*{
    margin: 0;
    padding: 0;
}
#planoDeFundo{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 100vh;
    overflow: hidden;
    
}
#game{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 1200px;
    overflow: hidden;
    border: 2px solid black;
    
}
#pontuacao{
    display: flex;
    justify-content:flex-end;
    margin: 10px;
    color:black;
}
#personagem{
    position: fixed;
    height: 50px;
    width: 20px;
    background-color: blueviolet;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 450px;
    margin-left: 10px;
    
}
@keyframes personagem{
    0%{bottom:200px;}
    20%{top: 210;}
    30%{top: 220;}
    40%{top: 270;}
    50%{top: 340;}
    60%{top: 340;}
    70%{top: 270;}
    80%{top: 215;}
    90%{top: 210;}
    100%{top: 200;}
    
    
}
.animar{
     animation: personagem 1000ms  ease-out;
}
#quadrado{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: blue;
    margin-top: 480px;
    margin-left:390px;
    animation: quadrado 1000ms infinite linear;
}

@keyframes quadrado{
    0%{left:900px;}
    100%{left:-1100px;}

    
}
.btn{   
    position: absolute;
    display: none;
    flex-wrap: wrap;
    padding: 15px;
    border-radius:10px ;
    border:none;
    box-shadow: 10px 10px 10px black;
    color: azure;
    background-color: blueviolet;
    margin-top: 350px;
    margin-left: 590px;  
}
#pontuacao{
    position: absolute;
    display: flex;
    margin-left:1150px;
}